QDRANT_API_KEY=
QDRANT_CLUSTER_ENDPOINT=
UNSTRUCTURED_QDRANT_COLLECTION_NAME=unstructured_knowledge
STRUCTURED_QDRANT_COLLECTION_NAME=structured_knowledge



OPENAI_API_KEY=
GROQ_API_KEY=
CO_API_KEY=
ANTHROPIC_API_KEY=

LANGCACHE_API_KEY=
LANGCACHE_CACHE_ID=
LANGCACHE_SERVER_URL=
ENABLE_RESPONSE_CACHING=True #True or False